:root {
  --dark-theme-bg: rgb(0, 0, 0);
  --dark-theme-text: rgb(255, 255, 255);
  --dark-theme-shadow: rgba(255, 255, 255, 0.35);
  
  --light-theme-bg: rgb(255, 255, 255);
  --light-theme-text: rgb(0, 0, 0);
  --light-theme-shadow: rgba(0, 0, 0, 0.35);

  --bg-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --shadow: rgba(255, 255, 255, 0.35);
  
  --card-bg: rgba(255, 255, 255, 0.025);
  --primary-color: #fb2576;
  --secondary-color: #e1fb25;
  --tertiary-color: #25fbaa;
  --white: #ffffff;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  width: 100vw;
  height: 100%;
  font-family: "Reem Kufi Fun", "Roboto", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);

  cursor: url(./assets/meme-pop-cat-cursor.png) 25 25, auto;
}

span:hover,
a:hover,
#title:hover {
  cursor: url(./assets/meme-pop-cat-pointer.png) 25 25, pointer;
}

img {  
  max-width:100%;
  max-height:100%;
}

h1 {font-size: 48pt; font-size: 4vw}
h2 {font-size: 36pt; font-size: 3vw}
h3 {font-size: 30pt; font-size: 2vw}
p {font-size: 18pt; font-size: 1.5vw}
a {font-size: 18pt; font-size: 1.5vw; color: var(--text-color); text-align: center}

header, section {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

section {
  margin: 50px 25px;
}

.card {
  box-shadow: var(--shadow) 0px 5px 15px;
  background-color: var(--card-bg);
  border-radius: 10px; 
}

/* #region Header */
header a {
  text-decoration: none;
  align-self: center;
  flex-basis: 10%;
}

header a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

header #title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #title h1:hover { 
  background: -webkit-linear-gradient(0, 
  rgba(251,37,118,1) 0%, 
  rgba(225,251,37,1) 25%, 
  rgba(37,251,170,1) 50%, 
  rgba(225,251,37,1) 75%, 
  rgba(251,37,118,1) 100%)
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header #title > h3 > span:nth-child(1):hover {
  color: var(--secondary-color);
}

header #title > h3 > span:nth-child(2):hover {
  color: var(--tertiary-color);
}
/* #endregion Header */


/* #region Main */
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* #region About */
#about .card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
/* #endregion About */

/* #region Projects */ 
#projects .project {
  background-color: var(--card-bg);
  height: 100%;
  flex: 1;
  padding: 25px;
  border-radius: 10px;
  display: inline-block;
}

#projects a {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

#projects img {
  border-radius: 10px;
}

#projects .project:nth-child(1) a:hover {
  color: var(--primary-color);
}

#projects .project:nth-child(2) a:hover {
  color: var(--secondary-color);
}

#projects .project:nth-child(3) a:hover {
  color: var(--tertiary-color);
}

#projects .project:nth-child(1) { 
  border-right: solid 1px var(--primary-color);
  border-top: solid 1px var(--primary-color);
  
  box-shadow: rgb(251, 37, 118, 0.4) 0px 5px, rgb(251, 37, 118, 0.3) 0px 10px, rgb(251, 37, 118, 0.2) 0px 15px, rgb(251, 37, 118, 0.1) 0px 20px, rgb(251, 37, 118, 0.05) 0px 25px;
  box-shadow: rgb(251, 37, 118, 0.4) -5px 5px, rgb(251, 37, 118, 0.3) -10px 10px, rgb(251, 37, 118, 0.2) -15px 15px, rgb(251, 37, 118, 0.1) -20px 20px, rgb(251, 37, 118, 0.05) -25px 25px;
}

#projects .project:nth-child(2) { 
  border-left: solid 1px var(--secondary-color);
  border-right: solid 1px var(--secondary-color);
  border-top: solid 1px var(--secondary-color);

  box-shadow: rgb(225, 251, 37, 0.4) 0px 5px, rgb(225, 251, 37, 0.3) 0px 10px, rgb(225, 251, 37, 0.2) 0px 15px, rgb(225, 251, 37, 0.1) 0px 20px, rgb(225, 251, 37, 0.05) 0px 25px;
}

#projects .project:nth-child(3) { 
  border-left: solid 1px var(--tertiary-color);
  border-top: solid 1px var(--tertiary-color);

  box-shadow: rgb(37, 251, 170, 0.4) 0px 5px, rgb(37, 251, 170, 0.3) 0px 10px, rgb(37, 251, 170, 0.2) 0px 15px, rgb(37, 251, 170, 0.1) 0px 20px, rgb(37, 251, 170, 0.05) 0px 25px;
  box-shadow: rgb(37, 251, 170, 0.4) 5px 5px, rgb(37, 251, 170, 0.3) 10px 10px, rgb(37, 251, 170, 0.2) 15px 15px, rgb(37, 251, 170, 0.1) 20px 20px, rgb(37, 251, 170, 0.05) 25px 25px;
}
/* #endregion Projects */

/* #region Career && Contact */
section:nth-last-child(1) { 
  display: flex;
  justify-content: center;
}

#career, #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-basis: 15%;
  white-space: nowrap;

  background: var(--primary-color);
  color: var(--white);
}

#career {
  background: var(--tertiary-color);
  color: var(--black);
}

#contact {
  background: var(--primary-color);
  color: var(--white);
}

#career:hover, #contact:hover { 
  background: var(--secondary-color);
}
/* #endregion Career && Contact */
/* #endregion Main */


/* #region Footer */
footer {
  padding: 15px;

  display: flex;
  justify-content: center;
}

footer p:hover {
  color: var(--tertiary-color)
}
/* #endregion Footer */


/* #region Media Queries */
@media screen and (max-width:639px) {
  header a:nth-child(1) {
    flex-basis: 100%;
  }
  header a:nth-child(2) {
    flex-basis: 100%;
  }
  header a:nth-child(4) {
    flex-basis: 100%;
  }
  header a:nth-child(5) {
    flex-basis: 100%;
  }
}

@media screen and (max-width:1500px) {
  h1 {font-size: 48pt}
  h2 {font-size: 36pt}
  h3 {font-size: 30pt}
  p {font-size: 18pt}
  a {font-size: 18pt}

  header a:nth-child(1) {
    order:2;
  }
  header a:nth-child(2) {
    order:3;
  }
  header div:nth-child(3) {
    order:1;
    flex-basis: 100%;
  }
  header a:nth-child(4) {
    order:4;
  }
  header a:nth-child(5) {
    order:5;
  }

  header, section {
    margin: 25px;
    padding: 10px;
    justify-content: space-around;
  }

  #about .card {
    flex-basis: 100%;
  }

  #career, #contact {
    flex-basis: 40%;
  }
}
/* #endregion Media Queries */